docs/n8n/manual-test-email.workflow.json
{
  "name": "Shelter Signal V2 Manual Test Email Outline",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8787/dry-run?include_html=true",
        "authentication": "none",
        "sendQuery": false,
        "sendHeaders": false,
        "sendBody": false,
        "options": {}
      },
      "id": "post-dry-run-include-html",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -320,
        -80
      ],
      "notesInFlow": true,
      "notes": "Start Mailpit and the local bridge first with: docker compose up -d; python scripts/serve_daily_digest_dry_run.py. This request calls POST http://host.docker.internal:8787/dry-run?include_html=true and should return email_html. No Gmail, Google Cloud, real recipients, SMS, auth, or production behavior are used by this node."
    },
    {
      "parameters": {
        "fromEmail": "shelter-signal@test.local",
        "toEmail": "test-recipient@example.local",
        "subject": "[TEST] Shelter Signal Daily Digest - manual local test",
        "emailFormat": "html",
        "html": "={{$json.email_html}}"
      },
      "id": "email-send-placeholder-disabled",
      "name": "Email Send Placeholder (disabled)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        20,
        -80
      ],
      "disabled": true,
      "notesInFlow": true,
      "notes": "Disabled placeholder only. Configure SMTP credentials locally in n8n for Mailpit: host host.docker.internal, port 1025, secure false, no username/password unless n8n requires harmless placeholders test/test. Confirm email_html exists, use one local Mailpit recipient, keep the subject prefixed with [TEST] Shelter Signal Daily Digest, and do not activate or schedule the workflow. Do not use Gmail OAuth, Google Cloud, app passwords, real recipients, or production credentials."
    },
    {
      "parameters": {
        "content": "Manual test email safety checklist\n\n1. Run docker compose up -d so Mailpit is available.\n2. Run the HTTP Request node first.\n3. Confirm status is ok and dry_run_result.result is PASS.\n4. Confirm email_html exists and is not empty.\n5. Configure Email Send only for local Mailpit SMTP.\n6. Use exactly one placeholder recipient: test-recipient@example.local.\n7. View the captured email at http://localhost:8025.\n8. Keep the workflow inactive and unscheduled.\n9. Do not commit credentials or real recipient addresses.",
        "height": 360,
        "width": 420,
        "color": 3
      },
      "id": "manual-test-safety-note",
      "name": "Manual Test Safety Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        160
      ]
    },
    {
      "parameters": {
        "content": "Expected HTTP output\n\n{\n  \"status\": \"ok\",\n  \"dry_run_result\": { \"result\": \"PASS\" },\n  \"alert_candidate_count\": 5,\n  \"email_html\": \"<!doctype html>...\",\n  \"message\": \"PASS daily digest preview dry-run complete. No email was sent.\"\n}\n\nMailpit SMTP settings\nHost: host.docker.internal\nPort: 1025\nSecure: false\nUser/Password: empty, or test/test if n8n requires values\n\nHTML body expression:\n{{$json.email_html}}\n\nAlternative:\n{{$node[\"HTTP Request\"].json[\"email_html\"]}}",
        "height": 360,
        "width": 420,
        "color": 4
      },
      "id": "expected-output-note",
      "name": "Expected Output Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        160
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Email Send Placeholder (disabled)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-28T00:00:00.000Z",
  "versionId": "00000000-0000-4000-8000-000000000003",
  "active": false
}
